body{
    background: linear-gradient(#fae105 0%, #ff1500 100%);
    text-align: center;
    padding-bottom: 50px;   
    font-size: 30px;
}
img{
    width:555px;
    height: 550px;
    padding:10px;
    border-style:solid;
    border-color:black;
    border-width: 15px;
    margin-bottom: 20px;
}
h1{
    border-style: double;
    border-width: 10px;
    border-color: crimson;
    color: black;
}
.sp{
    padding-left:50px;
}